name: Publish to NuGet

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build src/GodotApplePlugins.NET --configuration Release

    - name: Pack
      run: dotnet pack src/GodotApplePlugins.NET --configuration Release --no-build --output ./nupkg

    - name: NuGet login (trusted publishing)
      uses: nuget/login@v1
      id: nuget-login
      with:
        user: ${{ vars.NUGET_USER }}

    - name: Push to NuGet
      run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
